<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">

    <title>Nairobi Dev School</title>

    <meta name="keywords" content="">
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width">

    <meta property="og:title" content="">
    <meta property="og:type" content="website">
    <meta property="og:url" content="">
    <meta property="og:site_name" content="Theme Armada">
    <meta property="og:description" content="">
    <!-- Fonts -->
    <link href='http://fonts.googleapis.com/css?family=Lato:300,400,700,300italic,400italic' rel='stylesheet' type='text/css'>
    <!-- Styles -->
    <link rel="stylesheet" href="../assets/stylesheets/bootstrap.min.css">
    <link rel="stylesheet" href="../assets/stylesheets/design.css">
</head>
<body data-spy="scroll" data-target=".navbar" data-offset="0">

<div class="navbar navbar-inverse navbar-fixed-top">
    <div class="navbar-inner">
        <div class="container">
            <!--
            <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </a>
            -->
            <a class="brand" href="">
                <!-- <img src="img/logo.png" alt="Logo"> -->
                Nairobi Dev School
            </a>
            <div class="nav-collapse collapse hidden-phone hidden-tablet">
                <ul class="nav pull-right">
                    <li><a href="#about">About</a></li>
                    <li><a href="#programs">Programs</a></li>
                    <li><a href="#gi">Get Involved</a></li>
                    <li class="sep"></li>
                    <li><a href="#">Apply to attend</a></li>
                </ul>
            </div><!--/.nav-collapse -->
        </div>
    </div>
</div>

<!-- Splash -->
<div class="splash">
    <div class="container">
        <h1 class="splash-head">Join us today &amp; learn code with us</h1>
        <p class="splash-text">Nairobi Developer School is a free three-month, full-time school for programmers to learn and improve their skills!</p>
        <a href="" class="btn btn-primary btn-large btn-alpha">Apply to attend</a>
        <div class="a-cta">Or <a href="">see how you can get involved</a></div>
    </div>
</div>

<!-- Get Involved (gi) -->
<div id="gi" class="gi">
    <div class="container">
        <div class="row">
            <div class="span8">
                <h2 class="gi-head">Get involved</h2>
                <p>
                    Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse molestie consequat, vel illum dolore eu feugiat nulla facilisis at vero eros et accumsan et iusto odio dignissim qui blandit praesent luptatum zzril delenit augue duis dolore te feugait nulla facilisi.
                </p>
                <p>
                    Nam liber tempor cum soluta nobis eleifend option congue nihil imperdiet doming id quod mazim placerat facer possim assum.
                </p>
                <p>
                    <a class="btn btn-beta" href="#">Become a sponsor</a>
                    <a class="btn btn-beta" href="#">Become a mentor</a>
                </p>
            </div>
            <div class="span4 hidden-phone">
                <img src="https://encrypted-tbn1.gstatic.com/images?q=tbn:ANd9GcQo_CFlPKdX-_-EEs34S-Y8T9l2kVNY59fwfhCKHBK90XSwS21grA" alt="">
            </div>
        </div>
    </div>
</div>

<!-- About -->
<div id="about" class="about">
    <div class="container">
        <div class="row">
            <div class="span8">
                <h2 class="about-head">Nairobi Dev what?</h2>
                <p>
                   Lorem ipsum dolor sit amet, consectetur adipisicing elit. Molestias assumenda dolor debitis quaerat saepe minus maxime nisi officia illo vitae velit sint temporibus dicta eos ad porro maiores culpa beatae.
                </p>
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Porro animi earum doloremque sapiente quo numquam sed quaerat error adipisci totam ab eum voluptate vero doloribus eos aut at eligendi dolores.
                </p>
                <p><a class="btn btn-delta" href="#">Get in touch</a></p>
            </div>
            <div class="span4 hidden-phone">
                <img src="https://encrypted-tbn1.gstatic.com/images?q=tbn:ANd9GcQo_CFlPKdX-_-EEs34S-Y8T9l2kVNY59fwfhCKHBK90XSwS21grA" alt="">
            </div>
        </div>
    </div>
</div>

<!-- Footer -->
<footer>
    <div class="container">
        <p>Copyright &copy; 2013 Nairobi Developer School. Lovingly handcrafted by us in Nairobi.</p>
    </div>
</footer>


<!-- Javascript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
<script src="js/bootstrap.min.js"></script>
<script>
    $('[data-spy="scroll"]').each(function () {
      var $spy = $(this).scrollspy('refresh')
    });
</script>

</body>
</html>
